/* Header styles */
header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 10vh;
    padding-inline: 10%;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--background);
    border-bottom: 1px var(--border) solid;
}

header svg {
    width: 34px;
    height: 34px;
    padding: 5px;

    border-radius: 10px;
    background-color: var(--accent);
    color: var(--icons);
}

header > button {
    margin-left: auto;

    background-color: transparent;
    border: none;
}

/* Main Page Styles */
main {
    /* Padding for header */
    padding-top: 10vh;
    z-index: 10;

    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

/* Doesn't need extra identifires cause h1 must be one on the page */
h1 {
    width: 80%;
    padding-top: 1rem;

    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: -2rem;

    text-align: center;
}

main > h2 {
    width: 50%;
    max-width: 550px;

    font-size: 1rem;
    font-weight: 400;

    text-align: center;
}

/* Search Bar */
.search-form {
    position: relative;
    width: 45%;
    min-width: fit-content;
    max-width: 700px;
    height: 6vh;

    display: flex;
    gap: 10px;
}

.search-form > svg {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.search-form input {
    flex: 1;
    padding: 10px;
    padding-left: 40px;
    font-size: 16px;

    border-radius: 10px;
    background-color: var(--card);
    border: 2px var(--border) solid;
}

.search-form button {
    padding-inline: 10px;
    font-size: 16px;

    background-color: var(--accent);
    color: var#F8F6F1;

    border-radius: 10px;
    border: 2px transparent solid;

    transition: opacity 0.25s ease-in-out;
}

.search-form button:hover {
    opacity: 0.95;
}

/* Section */
section {
    width: 80%;
    max-width: 1200px;

    display: flex;
    gap: 2vw;
    margin-bottom: 5vh;
}

.book-list {
    flex: 1;
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.book-list > p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.favorites {
    width: 20vw;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: var(--border) 2px solid;
    color: var(--card);
    box-shadow: var(--shadow) 0px 0px 3px;
}

.favorites > .info {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    border-bottom: 2px var(--border) solid;
}

#favorites {
    flex: 1;
}

#favorites > p {
    text-align: center;
    padding: 10px;
}

.info > svg {
    width: 34px;
    height: 34px;
    padding: 5px;

    border-radius: 10px;
    background-color: var(--accent);
    color: var(--icons);
}

.info .text > h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.info .text > p {
    font-size: 0.8rem;
    font-weight: 400;
}

.favorite {
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    border-bottom: 2px var(--border) solid;
}

.favorite .data {
    font-size: 0.75rem;
    font-weight: 400;
}

.favorite .data > h4 {
    font-size: 1rem;
    font-weight: 600;
}

.favorite > button {
    margin-left: auto;

    border: none;

    background-color: transparent;

    font-size: 1.2rem;
    font-weight: 500;
}

.favorite button > svg {
    fill: var(--liked);
    stroke: var(--liked);
}

/* Footer styles */
footer {
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px var(--border) solid;
}

/* Media queries */
@media screen and (width <= 1024px) {
    .book-list {
        grid-template-columns: repeat(2, 1fr);
    }
    section {
        flex-direction: column-reverse;
    }
    .favorites {
        width: 100%;
        flex-direction: row;
    }
    .favorites > .info {
        border-bottom: none;
        border-right: 2px var(--border) solid;
    }
}

@media screen and (width <= 768px) {
    main > h2 {
        width: 70%;
    }
    .search-form {
        width: 70%;
    }
}

@media screen and (width <= 500px) {
    h1 {
        font-size: 2rem;
    }
    main > h2 {
        font-size: 0.75rem;
    }
    .search-form {
        min-width: none;
    }
    .book-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .favorites {
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .favorites > .info {
        border-right: none;
        border-bottom: 2px var(--border) solid;
    }
}
